<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="library" name="Prenzl library" schema="schema/library.exsd"/>

   <extension
         id="PrenzlRCP"
         name="Prenzl"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sf.prenzl.PrenzlRCP">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Run"
            class="net.sf.prenzl.Perspective"
            id="net.sf.prenzl.runperspective">
      </perspective>
      <perspective
            class="net.sf.prenzl.ConfigPerspective"
            id="net.sf.prenzl.configperspective"
            name="Config"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="Prenzl"
            class="net.sf.prenzl.ui.views.Display2dView"
            icon="icons/runView.gif"
            id="net.sf.prenzl.display2dView"
            name="CArt">
      </view>
      <view
            category="Prenzl"
            class="net.sf.prenzl.ui.views.PropertiesView"
            icon="icons/property.gif"
            id="net.sf.prenzl.propertiesView"
            name="Properties">
      </view>
      <view
            category="Prenzl"
            class="net.sf.prenzl.ui.views.ConfigurationsView"
            icon="icons/configuration.gif"
            id="net.sf.prenzl.configurationsView"
            name="Configurations">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.prenzl.PrenzlRCP"
            name="Prenzl">
         <property
               name="windowImages"
               value="icons/prenzl-16.gif,icons/prenzl-32.gif"/>
         <property
               name="aboutText"
               value="Prenzl!!&#x0A;&#x0A;Home page: http://prenzl.sourceforge.net&#x0A;Dev page: http://sourceforge.net/projects/prenzl&#x0A;&#x0A;LGPL license&#x0A;(c) 2006 Mathieu Baudier and Olivier Capillon"/>
         <property
               name="appName"
               value="Prenzl">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="net.sf.prenzl.StateFactory"
            id="net.sf.prenzl.stateFactory"/>
   </extension>

</plugin>
